extends layouts/main

block content
  p Hello #{name},
  p
    | We received a request to reset your password for your 
    strong Example App
    |  account. Click the button below to reset your password:
  div(style='background-color: #f8f9fa; border-left: 4px solid #00C853; padding: 15px; margin: 20px 0; text-align: center;')
    h2(style='color: #1B3635; margin-top: 0; font-size: 18px;') Your One-Time Password (OTP)
    p(style='font-size: 24px; font-weight: bold; letter-spacing: 5px; margin: 10px 0;') #{otpCode}
    p(style='font-size: 14px; margin: 0;') This OTP is valid for 5 minutes
  p(style='font-size: 16px; text-align: center;') Or
  .text-center
    a.btn(href=resetUrl) Reset Password

  p.text-muted If the button doesn't work, you can copy and paste this link into your browser:
  p.text-muted(style="word-break: break-all;") #{resetUrl}
  p.text-muted This password reset link and otp is valid for the next 5 minutes.
  p.text-muted If you did not request to reset your password, please disregard this email or contact our support team.
  p.text-muted We're here to help you get back on track!