extends layouts/main

block content
  p Hello #{name},
  p
    | Congratulations! Your email address has been successfully verified for your 
    strong Example App 
    | account.
  p.text-muted Thank you for choosing Example App. We're excited to have you on board!
  p.text-muted If you have any questions or need assistance, our support team is here to help.
