extends layouts/main

block content
  p Hello #{name},
  p
    | Welcome to 
    strong Cashora
    | ! We're excited to have you join us as a #{role}.
  
  p We hope you'll enjoy using our services and find them helpful for all your needs.
  
  p If you have any questions or need assistance, please don't hesitate to contact our support team.
  
  p.text-muted If you did not create an account with Cashora, please disregard this email.